<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendPaymentIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Pay Alfred 100 dollars for last month salary</string>
				<string>Send 500 dollars to Bane for his drugs</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
